# .env

# VIRTUAL_HOST=yourdomain.com,yourdomain.another.com
# LETSENCRYPT_HOST=yourdomain.com,yourdomain.another.com 
# LETSENCRYPT_EMAIL=example@email.com

# PORT=
# ADMIN_PASSWORD_HASH=
# JWT_SECRET=
# FRONTEND_URL=

# EMAIL_HOST=smtp.server.com
# EMAIL_PORT=
# ADMIN_EMAIL=example-admin@email.ru
# EMAIL_USER=example-user@email.com
# EMAIL_PASS=