# .env

# VIRTUAL_HOST=yourdomain.com,yourdomain.another.com
# LETSENCRYPT_HOST=yourdomain.com,yourdomain.another.com 
# LETSENCRYPT_EMAIL=example@email.com
# PORT=3000
# ADMIN_PASSWORD_HASH=
# JWT_SECRET=
# FRONTEND_URL=